<app-navbar></app-navbar>
<div class="container border border-secondary" style="margin-top: 30px; padding: 30px">
  <form [formGroup]="curriculoGroup" (ngSubmit)="onSubmit()">
    <h3 class="text-primary">Informações básicas</h3>
    <div class="row">
      <div class="col">
        <label for="nome">Nome</label>
        <input type="text" id="nome" class="form-control" placeholder="Nome" formControlName="Nome">
        <app-error *ngIf="curriculoGroup?.get('Nome')?.errors && curriculoGroup?.get('Nome')?.touched" mensagem="Nome inválido"></app-error>
      </div>
      <div class="col">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" placeholder="email@mail.com" formControlName="Email">
        <app-error *ngIf="curriculoGroup?.get('Email')?.errors && curriculoGroup?.get('Email')?.touched" mensagem="Email inválido"></app-error>
      </div>
      <div class="col">
        <label for="tel">Telefone</label>
        <input type="tel" class="form-control" id="tel" placeholder="(31)99999-9999" formControlName="Telefone">
        <app-error *ngIf="curriculoGroup?.get('Telefone')?.errors && curriculoGroup?.get('Telefone')?.touched" mensagem="Nome inválido"></app-error>
      </div>
      <div class="col" formGroupName="Endereco">
        <label for="cep">Cep</label>
        <input type="text" class="form-control" placeholder="99999-999" id="cep" formControlName="cep">
        <app-error *ngIf="curriculoGroup?.get('Endereco.cep')?.errors && curriculoGroup?.get('Endereco.cep')?.touched" mensagem="Cep inválido"></app-error>
      </div>
    </div>

    <div class="form-group mt-2">
      <label for="fraseMotivacional">Frase motivacional</label>
      <textarea class="form-control" id="fraseMotivacional" rows="3" formControlName="FraseMotivacional" placeholder="{{FrasePadrao}}"></textarea>
    </div>

    <h3 class="text-primary mt-4">Redes sociais</h3>
    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <label for="instagram">Instagram</label>
          <input type="text" id="instagram" class="form-control" placeholder="@instagram" formControlName="Instagram">
        </div>
        <div class="col">
          <label for="GitHub">GitHub</label>
          <input type="text" id="GitHub" class="form-control" placeholder="GitHub" formControlName="GitHub">
        </div>
        <div class="col">
          <label for="linkedin">Linkedin</label>
          <input type="text" id="linkedin" class="form-control" placeholder="linkedin" formControlName="Linkedin">
        </div>
      </div>
    </div>

    <h3 class="text-primary mt-4">Formações acadêmicas</h3>
    <div formArrayName="lst_infos_academicas">
      <div style="padding: 15px" class="border border-secondary mt-5" *ngFor="let info of curriculoGroup?.get('lst_infos_academicas')?.controls; let i=index" [formGroupName]="i">
        <div class="form-row">
          <div class="col">
            <label for="Nome_instituicao">Nome da instituição</label>
            <input type="text" id="Nome_instituicao" class="form-control" placeholder="Escola, faculdade" formControlName="nome_instituicao" />
          </div>
          <div class="col">
            <label for="TipoCurso">Tipo do curso</label>
            <input type="text" id="TipoCurso" class="form-control" placeholder="Técnico, ensino médio, mestrado, superior" formControlName="tipocurso" />
          </div>
          <div class="col">
            <label for="Curso">Curso</label>
            <input type="text" id="Curso" class="form-control" placeholder="Ciencias da computação, geografia, física" formControlName="curso" />
          </div>
        </div>
        <div class="form-group" style="margin-top: 15px">
          <label for="Descricao_aprendizado">Descição do aprendizado</label>
          <textarea class="form-control" id="Descricao_aprendizado" rows="3" placeholder="O que você aprendeu ?" formControlName="descricao_aprendizado"></textarea>
        </div>
        <div class="form-row">
          <div class="col">
            <label for="dt_inicial">Data inicial</label>
            <input type="date" id="dt_inicial" class="form-control" formControlName="datainicio" />
          </div>
          <div class="col">
            <label for="dt_final">Data final</label>
            <input type="date" id="dt_final" class="form-control" formControlName="dataconclusao" />
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg mt-2 mr-2" (click)="fnc_adiciona_infos_academicas()"><b style="font-size: 26px">+</b></button>
    <button type="button" class="btn btn-danger btn-lg mt-2" (click)="fnc_remove_infos_academicas()"><b style="font-size: 26px">-</b></button>

    <h3 class="text-primary mt-4">histórico profissional</h3>
    <div formArrayName="lst_historico_profissional">
      <div style="padding: 15px" class="border border-secondary mt-5" *ngFor="let infos_profissionais of curriculoGroup?.get('lst_historico_profissional')?.controls; let pr = index" [formGroupName]="pr">
        <div class="form-row">
          <div class="col">
            <label for="emp_instituicao">Nome da instituição</label>
            <input type="text" id="emp_instituicao" class="form-control" placeholder="Empresa, instituição" formControlName="Nome_instituicao">
          </div>
          <div class="col">
            <label for="emp_cargo">Cargo</label>
            <input type="text" id="emp_cargo" class="form-control" placeholder="Técnico em informática, operador de máquina" formControlName="Cargo">
          </div>
        </div>
        <div class="form-group">
          <label for="emp_desc_cargo">Descrição do cargo</label>
          <textarea class="form-control" id="emp_desc_cargo" rows="3" placeholder="o que você desempenhava nesta vaga" formControlName="Descricao_cargo"></textarea>
          <div class="form-row">
            <div class="col">
              <label for="emp_dt_inicial">Data da entrada</label>
              <input type="date" id="emp_dt_inicial" class="form-control" formControlName="DataInicio">
            </div>
            <div class="col">
              <label for="emp_dt_final">Data da saída</label>
              <input type="date" id="emp_dt_final" class="form-control" formControlName="DataSaida">
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg mt-2 mr-2" (click)="fnc_adiciona_Historico_Profissional()"><b style="font-size: 26px">+</b></button>
    <button type="button" class="btn btn-danger btn-lg mt-2" (click)="fnc_remove_Historico_Profissional()"><b style="font-size: 26px">-</b></button>


    <h3 class="text-primary mt-4">habilidades (Soft skills)</h3>

    <div formArrayName="lst_soft_skills">
      <div style="padding: 15px" class="border border-secondary mt-5" *ngFor="let infos_skills of curriculoGroup?.get('lst_soft_skills')?.controls; let sk = index" [formGroupName]="sk">
        <div class="form-row">
          <div class="col">
            <label for="sft_nome">Nome da habilidade</label>
            <input type="text" id="sft_nome" class="form-control" placeholder="Liderança, praticidade" formControlName="Nome">
          </div>
          <div class="col">
            <label for="sft_descricao">Descrição</label>
            <input type="text" id="sft_descricao" class="form-control" placeholder="sei liderar pessoas de todos os níveis" formControlName="Descricao">
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg mt-2 mr-2" (click)="fnc_adiciona_lst_soft_skills()"><b style="font-size: 26px">+</b></button>
    <button type="button" class="btn btn-danger btn-lg mt-2" (click)="fnc_remove_lst_soft_skills()"><b style="font-size: 26px">-</b></button>

    <button type="button" mat-button (click)="fnc_abre_dialogo()">Open dialog</button>
    <!--<button type="submit" class="btn btn-primary d-block mt-4">Criar</button>-->

  </form>
</div>

<app-footer></app-footer>
