<app-navbar></app-navbar>
<div class="container" style="margin-top: 30px">
  <form [formGroup]="curriculoGroup" (ngSubmit)="onSubmit()">
    <h3 class="text-primary">Informações básicas</h3>
    <div class="row mb-4">
      <div class="col">
        <label for="nome">Nome</label>
        <input type="text" id="nome" class="form-control" placeholder="Nome">
      </div>
      <div class="col">
        <label for="sobrenome">Sobrenome</label>
        <input type="text" id="sobrenome" class="form-control" placeholder="Sobrenome">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" placeholder="email@mail.com" formControlName="Email">
      </div>
      <div class="col">
        <label for="tel">Telefone</label>
        <input type="tel" class="form-control" id="tel" placeholder="(31)9999-9999" formControlName="Telefone">
      </div>
      <div class="col">
        <label for="cep">Cep</label>
        <input type="text" class="form-control" placeholder="99999-999" id="cep" formControlName="CEP">
      </div>
    </div>

    <div class="form-group mt-2">
      <label for="fraseMotivacional">Frase motivacional</label>
      <textarea class="form-control" id="fraseMotivacional" rows="3" formControlName="FraseMotivacional"></textarea>
    </div>

    <h3 class="text-primary mt-4">Redes sociais</h3>
    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <label for="instagram">Instagram</label>
          <input type="text" id="instagram" class="form-control" placeholder="@instagram" formControlName="Instagram">
        </div>
        <div class="col">
          <label for="GitHub">GitHub</label>
          <input type="text" id="GitHub" class="form-control" placeholder="GitHub" formControlName="GitHub">
        </div>
        <div class="col">
          <label for="linkedin">Linkedin</label>
          <input type="text" id="linkedin" class="form-control" placeholder="linkedin" formControlName="Linkedin">
        </div>
      </div>
    </div>

    <h3 class="text-primary mt-4">Formações acadêmicas</h3>
    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <label for="instituicao">Nome da instituição</label>
          <input type="text" id="instituicao" class="form-control" placeholder="Escola, faculdade" >
        </div>
        <div class="col">
          <label for="tipo_curso">Tipo do curso</label>
          <input type="text" id="tipo_curso" class="form-control" placeholder="Técnico, ensino médio, mestrado, superior">
        </div>
        <div class="col">
          <label for="curso">Curso</label>
          <input type="text" id="curso" class="form-control" placeholder="Ciencias da computação, geografia, física">
        </div>
      </div>
      <div class="form-group">
        <label for="fraseMotivacional">Descição do aprendizado</label>
        <textarea class="form-control" id="fraseMotivacional" rows="3" placeholder="O que você aprendeu ?"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="dt_inicial">Data inicial</label>
        <input type="date" id="dt_inicial" class="form-control">
      </div>
      <div class="col">
        <label for="dt_final">Data final</label>
        <input type="date" id="dt_final" class="form-control">
      </div>
    </div>

    <h3 class="text-primary mt-4">histórico profissional</h3>
    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <label for="emp_instituicao">Nome da instituição</label>
          <input type="text" id="emp_instituicao" class="form-control" placeholder="Empresa, instituição">
        </div>
        <div class="col">
          <label for="emp_cargo">Cargo</label>
          <input type="text" id="emp_cargo" class="form-control" placeholder="Técnico em informática, operador de máquina">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="emp_desc_cargo">Descrição do cargo</label>
      <textarea class="form-control" id="emp_desc_cargo" rows="3" placeholder="o que você desempenhava nesta vaga"></textarea>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="emp_dt_inicial">Data da entrada</label>
        <input type="date" id="emp_dt_inicial" class="form-control">
      </div>
      <div class="col">
        <label for="emp_dt_final">Data da saída</label>
        <input type="date" id="emp_dt_final" class="form-control">
      </div> 
    </div>

    <h3 class="text-primary mt-4">habilidades (Soft skills)</h3>
    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <label for="sft_nome">Nome da habilidade</label>
          <input type="text" id="sft_nome" class="form-control" placeholder="Liderança, praticidade">
        </div>
        <div class="col">
          <label for="sft_descricao">Descrição</label>
          <input type="text" id="sft_descricao" class="form-control" placeholder="sei liderar pessoas de todos os níveis">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Criar</button>
  </form>
</div>
<app-footer></app-footer>
