<app-navbar></app-navbar>

<div class="container" style="margin-top: 30px; height: 460px">
  <form class="form-group" [formGroup]="mensagemGroup" (ngSubmit)="fnc_envia_mensagem()">
    <h3 class="text-primary">Informações básicas</h3>
    <div class="row">
      <div class="col">
        <label for="nome">Nome</label>
        <input type="text" id="nome" class="form-control" placeholder="Nome" formControlName="Nome" disabled>
        <app-error *ngIf="mensagemGroup?.get('Nome')?.errors && mensagemGroup?.get('Nome')?.touched" mensagem="Nome inválido"></app-error>
      </div>
      <div class="col">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" placeholder="email@mail.com" formControlName="Email" disabled>
        <app-error *ngIf="mensagemGroup?.get('Email')?.errors && mensagemGroup?.get('Email')?.touched" mensagem="Email inválido"></app-error>
      </div>
      <div class="col">
        <label for="tel">Telefone</label>
        <input type="tel" class="form-control" id="tel" placeholder="(31)99999-9999" formControlName="Telefone" disabled>
        <app-error *ngIf="mensagemGroup?.get('Telefone')?.errors && mensagemGroup?.get('Telefone')?.touched" mensagem="Telefone inválido"></app-error>
      </div>
    </div>
    <div class="form-group mt-2">
      <label for="mensagem">Mensagem</label>
      <textarea class="form-control" id="mensagem" rows="3" formControlName="Mensagem"></textarea>
      <app-error *ngIf="mensagemGroup?.get('Mensagem')?.errors && mensagemGroup?.get('Mensagem')?.touched" mensagem="Mensagem inválida, minimo 5 caracteres"></app-error>
    </div>
    <input class="btn btn-primary" type="submit" value="Enviar" [disabled]="!mensagemGroup?.valid">
  </form>
</div>

<app-footer></app-footer>
